body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.light-mode {
  background: #f2f2f2;
  color: #111;
}

.dark-mode {
  background: #111;
  color: #fff;
}

.dark-mode nav {
  background: #000 !important;
}

.dark-mode .card {
  background: #222 !important;
  color: white;
}
